body {

    font-family: Arial, sans-serif;
}

.user-profile {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 200px auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.user-data {
    margin: 5px 0;
}